/* -------- R&R styles -------- */

/* --- Global --- */
.ratings-and-reviews{
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.underline-button {
  border-style: none;
  background: none;
  text-decoration: underline;
}

.Modal {
  background-color: bisque;
  position: fixed;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* --- Ratings --- */
.ratings{
  width: 400px;
}

.rating-summary {
  display: flex;
}

.average-rating {
  font-size: 3rem;
}

.star-breakdown {
  width: 100%
}

meter::-webkit-meter-bar {
  background: #eee;
  border-radius: 0px;
  width: 200px;
}

.characteristic-limits{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.review-photo {
  max-height: 50px;
  max-width: 100%;
}

.review-list {
  overflow-y: scroll;
  max-height: 500px;
}

.underline-button {
  border-style: none;
  background: none;
  text-decoration: underline;
}

