/* -------- R&R styles -------- */

/* --- Global --- */

.Modal {
  background-color: white;
  position: fixed;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 50px;
}

.Modal-bg{
  background-color: rgb(0, 0, 0);
  position: fixed;
  left: 0%;
  top: 0%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 50%;
}

/* --- Ratings --- */
meter{
  width: 100%;
}

meter::-webkit-meter-bar {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  height: 10px;
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid lightgray;
  border-radius: 0px;
}

meter::-webkit-meter-optimum-value {
  background:#454545;
}

input[type=text] {
  width: 50%;
  padding: 10px 20px;
  /* box-sizing: border-box; */
  border-radius: 0px;
  border-width: 1px;
}

textarea {
  resize: none;
  border-radius: 0px;
  width: 50%;
  height: 100px;
}

/* -------- Reviews --------- */

/* --- Review Item --- */
.review-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: scroll;
  max-height: 500px;
  width: 100%;
  padding-right: 20px;
}

/* scroll bar */
.review-item-body-text-scroll::-webkit-scrollbar,
.review-list::-webkit-scrollbar{
  width: 12px;               /* width of the entire scrollbar */
}

.review-item-body-text-scroll::-webkit-scrollbar-track,
.review-list::-webkit-scrollbar-track{
  background: white;        /* color of the tracking area */
}

.review-item-body-text-scroll::-webkit-scrollbar-thumb,
.review-list::-webkit-scrollbar-thumb{
  background-color: #90D7FF;    /* color of the scroll thumb */
  /* border: 3px solid orange;  creates padding around scroll thumb */
}

.review-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-item-header {
  display: flex;
  justify-content: space-between;
}

.review-item-summary {
  font-weight: bold;
}

.review-item-body {
  max-width: 500px;
  white-space: wrap;
  overflow: hidden;
}

.review-item-body-text-scroll {
  overflow-y: scroll;
  max-height: 100px;
  padding-right: 10px;
}

.review-item-photos {
  padding-top: 5px;
  padding-right: 5px;
  max-height: 50px;
  max-width: 100%;
  display: flex;
  gap: 5px;
}

.review-list-item-thumbnail {
  max-height: 50px;
  /* max-width: 100%; */
}

.review-list-item-modal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 25px;
}

.review-list-item-modal-image {
  padding-top: 5px;
  padding-right: 5px;
  margin: auto;
  width: 500px;
}

.review-photo-modal-close-button {
  border-style: none;
  background: none;
}

.review-item-recommend {
  padding-top: 5px;
  padding-bottom: 5px;
}

.review-item-response {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.review-item-helpful {
  padding-right: 5px;
}

.review-item-footer {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}