/* .carousel {
  overflow: hidden;
  border: 2px blue solid;
  max-width: 45rem;
  min-width: 30rem;
} */

/* .inner {
  display: flex;
  white-space: nowrap;
  transition: transform 0.3s;
  border: 2px green solid;
  min-width: fit-content;
  width: 100%;
  overflow: auto;
  display: inline-block;
} */

/* .carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  min-width: 12rem;
  max-width: 12rem;
  max-height: 12rem;
  background-color: green;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px red solid;
} */

/* These are for the chevrons in RelatedList */
.right-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.left-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
}