/* These are for the chevrons in RelatedList */
/* .right-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
}

.left-arrow {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 2rem;
} */

/* .cont {
  display: flex;
  flex-direction: row;
  border: 2px purple solid;
} */

.review-photo {
  max-height: 50px;
  max-width: 100%;
}

